<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.administrator.obdcheckerforaytophix10">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!--<uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>


    <!--这两个权限是 三星S7 之后的手机需要添加的 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 先改成这个  以后再换回来 -->
        <!--        有这个就是说明只要竖屏
                    android:screenOrientation="portrait"
        -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".dashboards.OBDDashboardsActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            >
        </activity>
        <activity
            android:name=".diagnostics.OBDDiagnosticsActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".montiors.OBDMontiorsActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".logs.OBDLogsActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".performance.OBDPerformanceActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".settings.OBDSettingsActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".dashboards.OBDHUDActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".dashboards.OBDStyleActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|stateUnchanged">
        </activity>
        <activity
            android:name=".dashboards.OBDOtherStyleActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".diagnostics.OBDDiagnosticHistoricalActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".logs.othersetting.OBDLogsOtherGraphs"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MainFregmentReplaceActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".settings.OBDSettingsReplaceAty"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask">
        </activity>

        <service android:name=".main.servierbt.BluetoothService"/>

    </application>

</manifest>